*{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  body{
    background: white;
  }
  .rainbow{
    height:200px;
    overflow:hidden;
  }
  .rainbow div {
    overflow: hidden;
  }
  
  .rainbow > div {
    width:400px;
    height:400px;
    background: red;
    border-radius:50%;
  }
  
  .rainbow > div >div{
    height:380px;
    margin:10px;
    background: hsl(60, 80%, 50%);
    border-radius:50%;
  }
  
  .rainbow > div >div > div {
    height:360px;
    margin:15px;
    background: hsl(120, 80%, 50%);
    border-radius:50%;
  }
  .rainbow > div >div > div > div{
    height:340px;
    margin:15px;
    background: hsl(180, 80%, 50%);
    border-radius:50%;
  }
  
  .rainbow > div >div > div > div > div{
    height:320px;
    margin:15px;
    background: hsl(240, 80%, 50%);
    border-radius:50%;
  }
  
  .rainbow > div >div > div > div > div > div{
    height:300px;
    margin:15px;
    background: hsl(300, 80%, 50%);
    border-radius:50%;
  }
  .rainbow > div >div > div > div > div > div >div{
    height:300px;
    margin:15px;
    background: hsl(360, 100%, 100%);
    border-radius:50%;
  }